ENABLE_EXTERNAL_SERVICES=false
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=
DATA_API_BASE_URL=
DATA_API_TOKEN=
DATA_API_PATHS_JSON={}
ENTITY_API_URL=
ENABLE_HISTORY=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
E2B_API_KEY=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_PUBLIC_BASE=
MINIO_SECURE=true
